<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Glossário</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>



<body>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            
        </div>
        <div class="navbar navbar-dark bg-success shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="/busca" class="navbar-brand d-flex align-items-center">
                    <strong>Glossário</strong>
                </a>
            </div>
        </div>
    </header>

    {% block content %} {% endblock %}
   

</body>
{% block scripts %} {% endblock %}
</html>